.main-canvas
    position absolute
    border 2px solid ignorable2
  
.canvas-area
    position absolute
    overflow hidden
    width calc(100% - 29px)
    left 29px
    
  
.screen
    position absolute
    width calc(100% - 29px)
    left 29px
    &.hand
        cursor move
    &.pencil
        cursor crosshair
