.main-canvas
    position absolute
    border 2px solid ignorable2
    
.selection-canvas 
    position absolute
    border 2px solid ignorable2
    
  
.canvas-area
    position absolute
    overflow hidden
    width calc(100% - 29px)
    left 29px
    top 29px
    
    
  
.screen
    position absolute
    width calc(100% - 29px)
    left 29px
    top 29px
    cursor crosshair
    &.hand
        cursor move

