.card
    background ignorable2
    border-top 2px solid ignorable1
    border-left 2px solid ignorable1
    border-right 2px solid ignorable3
    border-bottom 2px solid ignorable3
  
    &.solitary
        width 500px
        top 50%
        left 50%
        transform translate(-50%, -50%)
        padding-top 40px
        padding-bottom 40px
        position absolute
        text-align center
    
      &.register
          width 600px
        
      &.register-success
          width 520px
          padding-left 40px
          padding-right 40px
          
          p
            text-align left
            margin-bottom 0px