.color-picker
    width 319px
    height 200px
    position absolute
    
    .header
        width 311px
        height 25px
        
        padding 2px
        margin-left 2px
        margin-top 2px
        
        background pointColor
        
        line-height 25px

        p
            color ignorable3
            cursor default
            
            width 150px
            margin 0
            
            display inline-block
            
    a
        border-top 2px solid ignorable1
        border-left 2px solid ignorable1
        border-right 2px solid ignorable3
        border-bottom 2px solid ignorable3
        
        height 21px
        width 21px
        
        line-height 21px
        
        padding 0
        
        float right
        
        text-align center