.color-picker
    width 323px
    height 223px
    position absolute
    
    .header
        width 315px
        height 25px
        
        padding 2px
        margin-left 2px
        margin-top 2px
        
        background pointColor
        
        line-height 25px

        p
            color ignorable3
            cursor default
            
            width 150px
            margin 0px
            
            display inline-block
            
        a            
            height 21px
            width 21px
            line-height 21px
            padding 0px
            float right
            text-align center

            

    .body
        padding 2px
        
        .break
            margin-left 2px
            
        form
            margin 0px
            margin-top 2px
            display inline-block
            width min-content
            
            vertical-align top

            input
                width 71px
                margin-left 2px
                
.visualization
    border-top 2px solid ignorable3
    border-left 2px solid ignorable3
    border-right 2px solid ignorable1
    border-bottom 2px solid ignorable1
    
    height 20px
    width 241px
    
    vertical-align top


    display inline-block
    
    margin-top 2px
    

.slider-container
    margin-top 2px
    width 100%
    height 25px
    
    p
        display inline-block
        vertical-align top
        margin-top 3px
        margin-left 2px

    input
        width 39px
        vertical-align top
        margin-left 2px
        
    .gradient
        border-top 2px solid ignorable3
        border-left 2px solid ignorable3
        border-right 2px solid ignorable1
        border-bottom 2px solid ignorable1
        
        height 20px
        width 256px

        display inline-block
        
        margin-left 4px
        
        position relative

        .pointer
            position absolute
            height 20px
            border-left 2px solid pointColor
            border-right 2px solid ignorable1
            cursor pointer
            
            &.transparent
                pointer-events none
            
        
            