@font-face
  font-family HFNSS
  src url("./hfnss.ttf")
  
@font-face
  font-family HFNSS1
  src url("./HFNSSvector1.ttf")

@font-face
  font-family HFGAM
  src url("./hfgam.ttf")
  
@font-face
  font-family HFTIN
  src url("./hftin.ttf")
  


backgroundx2    = #06120e   // The default background color
background      = #030907   // The background within a background, such as a textbox field
actualBlack     = #000000   // Use in extreme contrast with already near-blacks, like background and backgroundx2
offBlue         = #143b2e   // 'off' as in 'off from background'. A similarly dark color off in hue.


critical        = #f21d23   // When something is an emergency and demands attention
good            = #366317   // Largely unnecessary green color, used mostly in counterpoint with critical
prettyBlue      = #175cfe   // Blue is the color of royalty and decoration, use it to pay something homage


importanterText = #e3d34b   // Importanter things, or important things when they need to light up a lil
importantText   = #b39f4b   // Important things get this color


pointier        = #e0d6ca   // Primary color if you want it to light up a lil
pointColor      = #b0a69a   // Primary color


ignorable0 = #807672    // Things that can be ignored should be this color
ignorable1 = #57524f    //      |
ignorable2 = #2c2826    //      |   more ignorable
ignorable3 = #131610    //      v



body
  background backgroundx2
  padding 0
  margin 0
  