.menu
    position absolute

    .header
        height 25px

        padding 2px
        margin-left 2px
        margin-top 2px

        background pointColor

        line-height 25px

        p
            color ignorable3
            cursor default

            width 150px
            margin 0px

            display inline-block

        a
            height 21px
            width 21px
            line-height 21px
            padding 0px
            float right
            text-align center

    form
        margin 8px
        input
            width 280px

        &.scale
            margin 4px 0px 0px 0px
            input 
                width 100px

            p
                width 100px

        &.import
            input
                width 360px

            p
                width 40px
    
    .ratio
        display inline-block
        margin 4px 0px 0px 0px

    .submit-button
        display table
        margin 4px auto 0 auto
        
    .column
        float left
        margin-right 8px

    .select-body
        padding 8px 0px 0px 8px

    .text-container
        text-align center
        height 40px
        line-height 40px
 
