.menu
    position absolute

    .header
        height 25px

        padding 2px
        margin-left 2px
        margin-top 2px
        margin-right 2px

        background pointColor

        line-height 25px

        position relative

        .click-screen
            top 0px
            left 0px

            height 29px

            z-index 5

            position absolute

            width calc(100% - 29px)
        p
            color ignorable3
            cursor default

            width 150px
            margin 0px

            display inline-block

        a
            height 21px
            width 21px
            line-height 21px
            padding 0px
            float right
            text-align center

    form
        margin 8px
        input
            width 280px

        &.lock
            display inline-block
        
        &.scale
            margin 4px 0px 0px 0px
            input 
                width 100px

 
                &.ratio-lock
                    height 24px
                    width 24px

                    border-radius 0px
                    padding-bottom 2px

                    cursor pointer
                    text-align center


            p
                width 80px

        &.import
            input
                width 360px

            p
                width 40px

    .submit-button
        display table
        margin 8px auto 0 auto
        
    .column
        float left
        margin-right 8px

    .select-body
        padding 8px 0px 0px 8px

    .text-container
        text-align center
        height 40px
        line-height 40px

    .buttons-container
        margin-top 8px
        text-align center
        a
            margin-left 4px

    .text-menu
        outline none
        font-family hfnss
        font-size 2em
        background-color backgroundx2 
       
        color pointColor

        margin-left 8px
        margin-top 8px

        border-left 2px solid ignorable3
        border-top 2px solid ignorable3
        border-right 2px solid ignorable1
        border-bottom 2px solid ignorable1

        width 486px
        height 222px

        -webkit-font-smoothing none
 
    .color-row
        height 20px
        margin-bottom 4px
        p
            vertical-align top
            display inline-block
            width 90px

        .color-view
            display inline-block
            width 86px
            height 16px

            border-left 2px solid ignorable3
            border-top 2px solid ignorable3
            border-right 2px solid ignorable1
            border-bottom 2px solid ignorable1

    .replace-palette
        width 176px
        height 200px
        overflow-y auto

        border-left 2px solid ignorable3
        border-top 2px solid ignorable3
        border-right 2px solid ignorable1
        border-bottom 2px solid ignorable1

        background-color backgroundx2

        .square
            border-left 1px solid ignorable3
            border-top 1px solid ignorable3
            border-right 1px solid ignorable1
            border-bottom 1px solid ignorable1
            height 20px
            width 20px
            float left



