.mini-map
    position absolute
    padding-bottom 2px

    .header
        height 25px
        
        padding 2px
        margin-left 2px
        margin-top 2px
        
        background pointColor
        
        line-height 25px

        p
            color ignorable3
            cursor default
            
            width 150px
            margin 0px
            
            display inline-block
            
        a            
            height 21px
            width 21px
            line-height 21px
            padding 0px
            float right
            text-align center
            
    .canvas-container
        margin-top 2px
        margin-left 2px
        margin-bottom 2px
        border-top 2px solid ignorable3
        border-left 2px solid ignorable3
        border-right 2px solid ignorable1
        border-bottom 2px solid ignorable1
        background backgroundx2
        overflow hidden
        cursor move