.palette
    position absolute
    top 4px
    left 0px
    
    width calc(100% - 4px)
    height 100%
    
    .swatches
        margin-left -27px
        
        position absolute
        top 0px
        left 0px
          
        .swatch
            position absolute
            
            height 20px
            border-left 2px solid ignorable3
            border-top 2px solid ignorable3
            border-right 2px solid ignorable0
            border-bottom 2px solid ignorable0

            &.primary   
                top 0px
                left 0px
                width 74px
              
            &.first
                top 28px
                left 0px
                width 20px

            &.second
                top 28px
                left 27px
                width 20px
              
            &.third   
                top 28px
                left 54px
                width 20px  
                
    .general
        border-left 2px solid ignorable3
        border-top 2px solid ignorable3
        border-right 2px solid ignorable0
        border-bottom 2px solid ignorable0
        background backgroundx2
        
        width calc(100% - 358px)
        
        position absolute
        left 55px
        top 0px
        
        overflow-y scroll
                
        .square
            height 20px
            width 20px
            border-left 1px solid ignorable3
            border-top 1px solid ignorable3
            border-right 1px solid ignorable0
            border-bottom 1px solid ignorable0
        
            display inline-block
            
            float left

            .high-light
                height 14px
                width 14px
                border-left 3px solid ignorable3
                border-top 3px solid ignorable3
                border-right 3px solid ignorable0
                border-bottom 3px solid ignorable0

            &.plus
                border-left 2px solid ignorable0
                border-top 2px solid ignorable0
                border-right 2px solid ignorable3
                border-bottom 2px solid ignorable3

                color pointColor
                
                font-family hfnss
                -webkit-font-smoothing none

                -webkit-user-select: none;  
                -moz-user-select: none;    
                -ms-user-select: none;      
                user-select: none;

                font-size 2em

                text-align center

                height 18px
                width 18px

                background-color ignorable2



