.palette
    position absolute
    top 0px
    left 0px

    margin-left -27px
  
    .swatches
        position absolute
        top 0px
        left 0px
          
        .swatch
            position absolute
            
            height 20px
            border-left 2px solid ignorable3
            border-top 2px solid ignorable3
            border-right 2px solid ignorable0
            border-bottom 2px solid ignorable0


            &.primary   
                top 4px
                left 0px
                width 74px
              
            &.first
                top 32px
                left 0px
                width 20px

            &.second
                top 32px
                left 27px
                width 20px
              
            &.third   
                top 32px
                left 54px
                width 20px  


