.palette
    position absolute
    top 0px
    left 0px

    margin-left -24px
  
    .swatches
        position absolute
        top 0px
        left 0px
          
        .swatch
            position absolute
            
            height 20px
            border-left 2px solid ignorable3
            border-top 2px solid ignorable3
            border-right 2px solid ignorable0
            border-bottom 2px solid ignorable0


            &.topLeft   
                top 4px
                left 0px
                width 40px

                border-left 2px solid ignorable0
                border-top 2px solid ignorable0
              
            &.topRight
                top 4px
                left 48px
                width 40px

            &.bottomLeft
                top 32px
                left 20px
                width 20px
              
            &.bottomRight    
                top 32px
                left 48px
                width 20px  


