.scale
    width 400px
    height 400px
    position absolute
    
    .header
        width 392px
        height 25px
        
        padding 2px
        margin-left 2px
        margin-top 2px
        
        background pointColor
        
        line-height 25px

        p
            color ignorable3
            cursor default
            
            width 150px
            margin 0px
            
            display inline-block
            
        a            
            height 21px
            width 21px
            line-height 21px
            padding 0px
            float right
            text-align center
            

    form
        margin 8px
        input
            width 360px
            
        p
            width 40px

    .submit-button
        display table
        margin 4px auto 0 auto