.tool-button
    width 20px
    height 20px
    border-top 2px solid ignorable1
    border-left 2px solid ignorable1
    border-right 2px solid ignorable3
    border-bottom 2px solid ignorable3

    font-family icons
    font-size 1em
    text-align center
    vertical-align middle
    padding 0
    line-height 20px
    margin-left 2px
    

    &:active
        border-top 2px solid ignorable3
        border-left 2px solid ignorable3
        border-right 2px solid ignorable1
        border-bottom 2px solid ignorable1
    &.selected
        border-top 2px solid ignorable3
        border-left 2px solid ignorable3
        border-right 2px solid ignorable1
        border-bottom 2px solid ignorable1
      