.vertical-tool-bar
    background ignorable2
    height 100%
    border-right 1px ignorable3 solid
    padding-top 1px
    position fixed
    top 0px
    left 0px
    width 29px

.horizontal-tool-bar
    background ignorable2
    position fixed
    bottom 0px
    left 29px
    width calc(100% - 29px)

    .edge
        height 3px 
        border-top 2px ignorable1 solid
        top 0px
        left 0px
        cursor ns-resize
    
